body{
    background-color: #D1E9F6;
}
#foot-child
{
    display: flex;
    justify-content: space-between;
}
#logo{
    margin-top: 20px;
    margin-left: 20px;
    width: 10px;
}
.question-container {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    background-color: #f9f9f9;
    margin-left: 30px;
    height: 280px;
}
.question-container h3 {
    margin: 0 0 10px;
}
.question-container label  {
    display: block;
    cursor: pointer;
    margin: 5px 0;
}
#user-id{
   
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 30px;
}
#icon2{
    margin-left: 10px;

}
#quiz-quest
{
    width: 90%;
    padding-left: 50px;
    margin-top: 60px;
    margin-left: 10px;
    background-color: #F6EACB;
    border-radius: 4px;
    border: 2px solid #F6EACB;
}


.option{
    font-size: 20px;
    margin-left: 20px;
}
#foot
{
    width: 90%;
    margin-top: 10px;
    margin-left: 50px;
    background-color: #F6EACB;
    border-radius: 4px;
    border: 2px solid #F6EACB;
    text-align: center;
    margin-bottom: 10px;
}
#add-quest-p
{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-top: 30px;
    height: 50px;
    border-radius: 5px;
}
#add-quest-c
{
    border-radius: 5px;
}

.op{
    display: flex;
    flex-direction: column;
    text-align: left;

}


#butt1{
    margin-left: 50PX;
    width: 100PX;
}
#butt3{
    margin-left: 40PX;
    width: 100PX;
}
#kks
{
    display: flex;
    margin-left: 50px;
   
}